<!DOCTYPE html>
<html>  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>Potluck</title>


    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css"> 
    <link rel="stylesheet" href="/static/assets/fancybox/jquery.fancybox.css?v=2.1.5" media="screen"> 
    <link id="wpStylesheet" type="text/css" href="/static/css/global-style.css" rel="stylesheet" media="screen">
        

    <!-- Favicon -->
    <link href="/static/images/favicon.png" rel="icon" type="/static/images/png">

    <!-- Assets -->
    <link rel="stylesheet" href="/static/css/static/assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/static/assets/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="/static/css/static/assets/sky-forms/css/sky-forms.css">    

    <!-- Required JS -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>

    <!-- Page scripts -->
    <link rel="stylesheet" href="/static/assets/layerslider/css/layerslider.css" type="text/css">

</head>


<!-- MOBILE MENU - Option 2 -->
<section id="navMobile" class="aside-menu left">
    <form class="form-horizontal form-search">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button id="btnHideMobileNav" class="btn btn-close" type="button" title="Hide sidebar"><i class="fa fa-times"></i></button>
            </span>
        </div>
    </form>
    <div id="dl-menu" class="dl-menuwrapper">
        <ul class="dl-menu"></ul>
    </div>
</section> 

<!-- SLIDEBAR -->
<section id="asideMenu" class="aside-menu right">
    <form class="form-horizontal form-search">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
                <button id="btnHideAsideMenu" class="btn btn-close" type="button" title="Hide sidebar"><i class="fa fa-times"></i></button>
            </span>
        </div>
    </form>
    
    <h5 class="side-section-title">My Account</h5>
    <div class="nav">
        <ul>
            <li>
                <a href="{% url 'selling' %}">My Items</a>
            </li>
            <li>
                <a href="{% url 'sell' %}">Sell</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</section>

<!-- MAIN WRAPPER -->
<div></div>
            <!-- HEADER -->
        <div id="divHeaderWrapper">
            <header class="header-standard-2">     
    <!-- MAIN NAV -->
    <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-aside-menu">
                    <i class="fa fa-outdent icon-custom"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars icon-custom"></i>
                </button>

                <a class="navbar-brand" href="/potluck/" title="Boomerang | One template. Infinite solutions">
                    <img src="/static/images/potluck_logo.png" alt="Potluck">
                    <h3>Potluck</h3>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-md hidden-lg">
                        <div class="bg-light-gray">
                            <form class="form-horizontal form-light p-15" role="form">
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" placeholder="I want to find ...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-white" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </li>

                    <li class="dropdown dropdown-meganav mega-dropdown-fluid">
                        <a href="/potluck/" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                    </li>

                    <li class="dropdown">
                        <a href="{% url 'buy' %}" class="dropdown-toggle" data-toggle="dropdown">Buy</a>
                    </li>

                    <li class="dropdown">
                        <a href="{% url 'sell' %}" class="dropdown-toggle" data-toggle="dropdown">Sell</a>
                    </li>

                    <li class="dropdown-aux">
                        <a href="#" id="cmdAsideMenu" class="dropdown-toggle dropdown-form-toggle" title="Open slidebar">
                            <i class="fa fa-outdent"></i>
                        </a>
                    </li>
                </ul>
               
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>        </div>





<!-- content goes here  -->
<body>{% block content %}{% endblock %}</body>





 
    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="col">
                       <h4>Contact us</h4>
                       <ul>
                            <li>Email: <a href="mailto:hello@example.com" title="Email Us">seohyuns@andrew.cmu.edu</a></li>
                        </ul>
                     </div>
                </div>
                
                <div class="col-md-3">
                    <div class="col">
                        <h4>Mailing list</h4>
                        <p>Sign up if you would like to receive occasional treats from us.</p>
                        <form class="form-horizontal form-light">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Your email address...">
                                <span class="input-group-btn">
                                    <button class="btn btn-base" type="button">Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="col col-social-icons">
                        <h4>Follow us</h4>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-skype"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-flickr"></i></a>
                    </div>
                </div>

                 <div class="col-md-3">
                    <div class="col">
                        <h4>About us</h4>
                        <p class="no-margin">
                        Potluck is a multi-solution product made with simplicity in mind so you can benefit as much as possible from it.
                        <br><br>
                        <a href="#" class="btn btn-block btn-base btn-icon fa-check"><span>Try it now</span></a>
                        </p>
                    </div>
                </div>
            </div>
            
            <hr>
            
        </div>
    </footer>
</div>

<!-- Essentials -->
<script src="/static/js/modernizr.custom.js"></script>
<script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="/static/js/jquery.easing.js"></script>
<script src="/static/js/jquery.metadata.js"></script>
<script src="/static/js/jquery.hoverup.js"></script>
<script src="/static/js/jquery.hoverdir.js"></script>
<script src="/static/js/jquery.stellar.js"></script>

<!-- Boomerang mobile nav - Optional  -->
<script src="/static/assets/responsive-mobile-nav/js/jquery.dlmenu.js"></script>
<script src="/static/assets/responsive-mobile-nav/js/jquery.dlmenu.autofill.js"></script>

<!-- Forms -->
<script src="/static/assets/ui-kit/js/jquery.powerful-placeholder.min.js"></script> 
<script src="/static/assets/ui-kit/js/cusel.min.js"></script>
<script src="/static/assets/sky-forms/js/jquery.form.min.js"></script>
<script src="/static/assets/sky-forms/js/jquery.validate.min.js"></script>
<script src="/static/assets/sky-forms/js/jquery.maskedinput.min.js"></script>
<script src="/static/assets/sky-forms/js/jquery.modal.js"></script>

<!-- Assets -->
<script src="/static/assets/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="/static/assets/page-scroller/jquery.ui.totop.min.js"></script>
<script src="/static/assets/mixitup/jquery.mixitup.js"></script>
<script src="/static/assets/mixitup/jquery.mixitup.init.js"></script>
<script src="/static/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="/static/assets/waypoints/waypoints.min.js"></script>
<script src="/static/assets/milestone-counter/jquery.countTo.js"></script>
<script src="/static/assets/easy-pie-chart/js/jquery.easypiechart.js"></script>
<script src="/static/assets/social-buttons/js/rrssb.min.js"></script>
<script src="/static/assets/nouislider/js/jquery.nouislider.min.js"></script>
<script src="/static/assets/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/bootstrap/js/tooltip.js"></script>
<script src="/static/assets/bootstrap/js/popover.js"></script>

<!-- Sripts for individual pages, depending on what plug-ins are used -->
<script src="/static/assets/layerslider/js/greensock.js" type="text/javascript"></script>
<script src="/static/assets/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="/static/assets/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
<!-- Initializing the slider -->
<script>
    jQuery("#layerslider").layerSlider({
        pauseOnHover: true,
        autoPlayVideos: false,
        skinsPath: '/static/assets/layerslider/skins/',
        responsive: false,
        responsiveUnder: 1280,
        layersContainer: 1280,
        skin: 'borderlessdark3d',
        hoverPrevNext: true,
    });
</script>

<!-- Boomerang App JS -->
<script src="/static/js/wp.app.js"></script>
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Temp -- You can remove this once you started to work on your project -->
<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/wp.switcher.js"></script>
<script type="text/javascript" src="/static/js/wp.ga.js"></script>


</body>
</html> 