<!-- buy.html -->
<!--
For this we want:
- list of items (maybe display categories with pictures?)
- if you've already searched something, show matching items on sale formatted in some way (e.g., picture, name, price, expiration date)
- when you click on a specific item, it should expand to show more information about that item (seller, seller rating, etc.)

Likely to be passed in:
- items (Python set of SaleItems - Google Python sets if you think you need to, but for loops + field references are probably all you need)
- user_info (mostly for user_info.avatar, user_info.user.username)
 -->
 {% extends 'base.html' %}
<!-- {% for item in items %}
 {{item.name}}: {{item.price}} {{item.id}} <a href="{% url 'profile' item.seller.id %}">{{item.seller.user.username}}</a><br />
 <img src="{% url 'picture' item.id %}" alt="{{item.name}}" width="200px" />
 <br /><br />
 {% endfor %} -->
 {% block content %}

    <!-- MAIN CONTENT -->
        <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Buy</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Buy</a></li>
                        <li class="active">Produce list</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="sidebar">
    <div class="panel panel-default panel-sidebar-1">
        <div class="panel-heading"><h2>Filter by</h2></div>
        <div class="panel-body">
            <h4>Category</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{% url 'category' 'vegetables' %}">Vegetables</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'category' 'fruits' %}">Fruits</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'category' 'packaged' %}">Package Goods</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'category' 'drinks' %}">Drinks</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'category' 'snacks' %}">Snacks</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'category' 'healthy' %}">Healthy Options</a>
                </li>
            </ul>

        </div>
    </div>


    <div class="panel panel-default panel-sidebar-1">
        <div class="panel-heading"><h2>Search</h2></div>
        <div class="panel-body">
            <form name="search" action="{% url 'search' %}" class="form-light" role="form" method="post">
                <div class="form-group">
                <label>Search for products</label>
                <input type="text" name="search_term" class="form-control" placeholder="I want to find...">
                </div>
                <button type="submit" class="btn btn-base">Search</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>                    </div>
                        {% if errors %}
                        {{errors}}
                        {% endif %}
                        {% for row_items in items %}
                          <div class="row">
                            {% for item in row_items %}
                            <div class="col-md-4">
                                <div class="wp-block product">
                                    <figure>
                                        <img src="{% url 'picture' item.id %}" alt="{{item.name}}" width="200px"  class="img-responsive img-center" />
                                    </figure>
                                    <h2 class="product-title">{{item.name}}</h2>
                                    <p>
                                        {% if item.brand %}
                                        <a>{{item.brand}}</a> <br />
                                        {% endif %}
                                        <b>Quantity:</b> {{item.quantity}}<br />
                                        {% if item.purchase_date %}
                                        <b>Purchase Date:</b> {{item.purchase_date}} <br />
                                        {% endif %}
                                        <b>Expiration Date:</b> {{item.expiration_date}}<br />
                                        {% if item.description %}
                                        <a>{{item.description}}</a>
                                        {% endif %}
                                    </p>
                                    <div class="wp-block-footer">
                                        <span class="price pull-left">${{item.price|floatformat:2}}</span>
                                        <a href="{% url 'profile' item.seller.user.id %}" class="btn btn-xs btn-base btn-icon fa-edit pull-right"><span>Contact Seller</span></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                          </div>
                        {% endfor %}
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}
