<!-- buy.html -->
<!--
For this we want:
- list of items (maybe display categories with pictures?)
- if you've already searched something, show matching items on sale formatted in some way (e.g., picture, name, price, expiration date)
- when you click on a specific item, it should expand to show more information about that item (seller, seller rating, etc.)

Likely to be passed in:
- items (Python set of SaleItems - Google Python sets if you think you need to, but for loops + field references are probably all you need)
- user_info (mostly for user_info.avatar, user_info.user.username)
 -->
 {% extends "base.html" %}
<!-- {% for item in items %}
 {{item.name}}: {{item.price}} {{item.id}} <a href="{% url 'profile' item.seller.id %}">{{item.seller.user.username}}</a><br />
 <img src="{% url 'picture' item.id %}" alt="{{item.name}}" width="200px" />
 <br /><br />
 {% endfor %} -->
 {% block content %}

    <!-- MAIN CONTENT -->
        <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Buy</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Shop</a></li>
                        <li class="active">Produce list</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="sidebar">
    <div class="panel panel-default panel-sidebar-1">
        <div class="panel-heading"><h2>Filter by</h2></div>
        <div class="panel-body">
            <h4>Category</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge base">14</span>
                    <a href="">Vegetables</a>
                </li>
                <li class="list-group-item">
                    <span class="badge base">14</span>
                    <a href="">Fruits</a>
                </li>
                <li class="list-group-item">
                    <span class="badge base">14</span>
                    <a href="">Package Goods</a>
                </li>
                <li class="list-group-item">
                    <span class="badge base">14</span>
                    <a href="">Drinks</a>
                </li>
                <li class="list-group-item">
                    <span class="badge base">14</span>
                    <a href="">Snacks</a>
                </li>
                <li class="list-group-item">
                    <span class="badge base">14</span>
                    <a href="">Healthy Options</a>
                </li>
            </ul>

        </div>
    </div>


    <div class="panel panel-default panel-sidebar-1">
        <div class="panel-heading"><h2>Advanced search</h2></div>
        <div class="panel-body">
            <form class="form-light" role="form">
                <div class="form-group">
                <label>Search for products</label>
                <input type="text" class="form-control" placeholder="I want to find...">
                </div>
                <div class="form-group">
                <label>Category</label>
                <select class="form-control">
                    <option>Phones</option>
                    <option>Laptops</option>
                    <option>Cameras</option>
                    <option>Tablets</option>
                </select>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Display all
                    </label>
                </div>
                <button type="submit" class="btn btn-base">Search</button>
            </form>
        </div>
    </div>

    <div class="panel panel-default panel-sidebar-1">
        <div class="panel-heading"><h2>Recently viewed</h2></div>
        <div class="panel-body">
            <ul class="featured">
                <li>
                    <div class="featured-item">
                        <div class="featured-item-img">
                            <img src="images/prv/product-2.jpg" alt="" class="pull-left">
                        </div>
                        <div class="feature-item-info">
                            <h3 class="title">
                                <a href="#">Samsung Galaxy S4</a>
                            </h3>
                            <div class="rating">
                                <span class="star voted" rel="1"></span>
                                <span class="star voted" rel="2"></span>
                                <span class="star voted" rel="3"></span>
                                <span class="star" rel="4"></span>
                                <span class="star" rel="5"></span>
                            </div>
                            <div class="price-wr">
                                <span class="price discount">$300.99</span>
                                <span class="price">$233.89</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="featured-item">
                        <div class="featured-item-img">
                            <img src="images/prv/product-3.jpg" alt="" class="pull-left">
                        </div>
                        <div class="feature-item-info">
                            <h3 class="title">
                                <a href="#">Asus Ultra Notebook</a>
                            </h3>
                            <div class="rating">
                                <span class="star voted" rel="1"></span>
                                <span class="star voted" rel="2"></span>
                                <span class="star voted" rel="3"></span>
                                <span class="star" rel="4"></span>
                                <span class="star" rel="5"></span>
                            </div>
                            <div class="price-wr">
                                <span class="price discount">$300.99</span>
                                <span class="price">$233.89</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="featured-item">
                        <div class="featured-item-img">
                            <img src="images/prv/product-4.jpg" alt="" class="pull-left">
                        </div>
                        <div class="feature-item-info">
                            <h3 class="title">
                                <a href="#">PC Mouse Microsoft</a>
                            </h3>
                            <div class="rating">
                                <span class="star voted" rel="1"></span>
                                <span class="star voted" rel="2"></span>
                                <span class="star voted" rel="3"></span>
                                <span class="star" rel="4"></span>
                                <span class="star" rel="5"></span>
                            </div>
                            <div class="price-wr">
                                <span class="price discount">$300.99</span>
                                <span class="price">$233.89</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <!-- Product list sort events -->
                            <div class="col-md-12">
                                <div class="wp-block default product-list-filters light-gray">
                                    <span class="view-mode hidden-xs hidden-sm">
                                        <a href="">
                                            <i class="fa fa-th"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                    </span>
                                    <div class="filter sort-filter">
                                        <div class="form-inline form-light">
                                            <label>Sort by</label>
                                            <a href="">
                                                <i class="fa fa-arrow-down"></i>
                                            </a>
                                            <select class="form-control">
                                                <option>Price</option>
                                                <option>Most bought</option>
                                                <option>Most reviewed</option>
                                            </select>
                                            
                                            <label>Items</label>
                                            <select class="form-control">
                                                <option>10</option>
                                                <option>50</option>
                                                <option>100</option>
                                            </select>
                                        </div>
                                    </div>
                                    <ul class="pagination pagination">
                                        <li><a href="#">«</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">»</a></li>
                                    </ul>
                                </div>
                            </div>  

                            <!-- Product list -->
                            <div class="col-md-4">
                                <div class="wp-block product">
                                    <figure>
                                        <img alt="" src="images/prv/product-1.jpg" class="img-responsive img-center">
                                    </figure>
                                    <h2 class="product-title"><a href="">Nikon Coolpix L320</a></h2>
                                    <p>
                                    Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                                    </p>
                                    <div class="wp-block-footer">
                                        <span class="price pull-left">RON 233.33</span>
                                        <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="wp-block product">
                                    <figure>
                                        <img alt="" src="images/prv/product-2.jpg" class="img-responsive img-center">
                                        <div class="ribbon base">Expiring soon!</div>
                                    </figure>
                                    <h2 class="product-title"><a href="">Samsung Galaxy S4</a></h2>
                                    <p>
                                    Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                                    </p>
                                    <div class="wp-block-footer">
                                        <span class="price pull-left">RON 233.33</span>
                                        <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="wp-block product">
                                    <figure>
                                        <img alt="" src="images/prv/product-3.jpg" class="img-responsive img-center">
                                        <span class="ribbon base-alt">Fresh!</span>
                                    </figure>
                                    <h2 class="product-title"><a href="">Asus Ultra Notebook</a></h2>
                                    <p>
                                    Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                                    </p>
                                    <div class="wp-block-footer">
                                        <span class="price pull-left">RON 233.33</span>
                                        <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="wp-block product">
                                    <figure>
                                        <img alt="" src="images/prv/product-1.jpg" class="img-responsive img-center">
                                    </figure>
                                    <h2 class="product-title"><a href="">Nikon Coolpix L320</a></h2>
                                    <p>
                                    Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                                    </p>
                                    <div class="wp-block-footer">
                                        <span class="price pull-left">RON 233.33</span>
                                        <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="wp-block product">
                                    <figure>
                                        <img alt="" src="images/prv/product-2.jpg" class="img-responsive img-center">
                                        <span class="ribbon orange">Orange ribbon</span>
                                    </figure>
                                    <h2 class="product-title"><a href="">Samsung Galaxy S4</a></h2>
                                    <p>
                                    Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                                    </p>
                                    <div class="wp-block-footer">
                                        <span class="price pull-left">RON 233.33</span>
                                        <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="wp-block product">
                                    <figure>
                                        <img alt="" src="images/prv/product-3.jpg" class="img-responsive img-center">
                                        <span class="ribbon orange">Orange ribbon</span>
                                    </figure>
                                    <h2 class="product-title"><a href="">Asus Ultra Notebook</a></h2>
                                    <p>
                                    Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                                    </p>
                                    <div class="wp-block-footer">
                                        <span class="price pull-left">RON 233.33</span>
                                        <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="wp-block product">
                                    <figure>
                                        <img alt="" src="images/prv/product-1.jpg" class="img-responsive img-center">
                                        <span class="ribbon yellow">Yellow ribbon</span>
                                    </figure>
                                    <h2 class="product-title"><a href="">Nikon Coolpix L320</a></h2>
                                    <p>
                                    Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                                    </p>
                                    <div class="wp-block-footer">
                                        <span class="price pull-left">RON 233.33</span>
                                        <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="wp-block product">
                                    <figure>
                                        <img alt="" src="images/prv/product-2.jpg" class="img-responsive img-center">
                                    </figure>
                                    <h2 class="product-title"><a href="">Samsung Galaxy S4</a></h2>
                                    <p>
                                    Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                                    </p>
                                    <div class="wp-block-footer">
                                        <span class="price pull-left">RON 233.33</span>
                                        <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="wp-block product">
                                    <figure>
                                        <img alt="" src="images/prv/product-3.jpg" class="img-responsive img-center">
                                    </figure>
                                    <h2 class="product-title"><a href="">Asus Ultra Notebook</a></h2>
                                    <p>
                                    Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                                    </p>
                                    <div class="wp-block-footer">
                                        <span class="price pull-left">RON 233.33</span>
                                        <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="wp-block product">
                                    <figure>
                                        <img alt="" src="images/prv/product-1.jpg" class="img-responsive img-center">
                                        <span class="ribbon red">Red ribbon</span>
                                    </figure>
                                    <h2 class="product-title"><a href="">Nikon Coolpix L320</a></h2>
                                    <p>
                                    Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                                    </p>
                                    <div class="wp-block-footer">
                                        <span class="price pull-left">RON 233.33</span>
                                        <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="wp-block product">
                                    <figure>
                                        <img alt="" src="images/prv/product-2.jpg" class="img-responsive img-center">
                                    </figure>
                                    <h2 class="product-title"><a href="">Samsung Galaxy S4</a></h2>
                                    <p>
                                    Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                                    </p>
                                    <div class="wp-block-footer">
                                        <span class="price pull-left">RON 233.33</span>
                                        <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="wp-block product">
                                    <figure>
                                        <img alt="" src="images/prv/product-3.jpg" class="img-responsive img-center">
                                    </figure>
                                    <h2 class="product-title"><a href="">Asus Ultra Notebook</a></h2>
                                    <p>
                                    Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                                    </p>
                                    <div class="wp-block-footer">
                                        <span class="price pull-left">RON 233.33</span>
                                        <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}
