<!-- buy.html -->
{% extends 'base.html' %}
<!--
For this we want:
- list of items (maybe display categories with pictures?)
- if you've already searched something, show matching items on sale formatted in some way (e.g., picture, name, price, expiration date)
- when you click on a specific item, it should expand to show more information about that item (seller, seller rating, etc.)

Likely to be passed in:
- items (Python set of SaleItems - Google Python sets if you think you need to, but for loops + field references are probably all you need)
- user_info (mostly for user_info.avatar, user_info.user.username)
 -->