<!-- Just make this pretty, in line with the rest of the layout. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-mail Confirmed for Potluck</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/potluck.css" rel="stylesheet">
  </head>
  <body>
    <div class="gbackground col-md-12">
      <p>Thank you for confirming your email address. Please <a href="{% url 'login' %}">login</a> and start sharing!</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>