<!-- Just make this pretty, in line with the rest of the layout. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Confirmation Needed for Potluck</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/potluck.css" rel="stylesheet">

  </head>
  <body>
    <div class="hsbackground col-md-12">
      <p>A confirmation email has been sent to {{email}}.  Please click the link
in that email to confirm your email address and complete your registation for Potluck.</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>