{% extends "base.html" %}

{% block content %}

   <!-- MAIN CONTENT -->
        <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>User account</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">User account</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="slice bg-white">
        <div class="wp-section user-account">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="user-profile-img">
                            <img src="{% url 'avatar' user_info.id}">
                        </div>
                  
                    </div>
                    <div class="col-md-9">                     
                        <div class="tabs-framed">
                            <ul class="tabs clearfix">
                                <li class="active"><a href="#tab-1" data-toggle="tab">User Information</a></li>
                                <li><a href="#tab-2" data-toggle="tab">User Sales</a></li>
                                <li><a href="#tab-3" data-toggle="tab">User Ratings</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-1">
                                    <div class="tab-body">
                                        <dl class="dl-horizontal style-2">
                                            <h3 class="title title-lg">Personal information</h3><br>
                                            <dt>&nbsp;</dt>
                                            <dd>
                                                {% if viewed_user_info.avatar %}
                                                  <img src="{% url 'avatar' viewed_user_info.id %}" alt="{{viewed_user_info.user.username}}" width="100px" />
                                                {% else %}
                                                  <img src="/static/img/avatar.png" alt="{{viewed_user_info.user.username}}" />
                                                {% endif %}
                                            </dd>
                                            <dt>Username</dt>
                                            <dd>
                                                <span class="pull-left">{{viewed_user_info.user.username}}</span>
                                            </dd>
                                            <hr>
                                            {% if viewed_user_info.show_email %}
                                            <dt>Email</dt>
                                            <dd>
                                            <span class="pull-left">{{viewed_user_info.user.email}}</span>
                                            </dd>
                                            <hr>
                                            {% endif %}
                                            {% if viewed_user_info.phone %}
                                            <dt>Phone</dt>
                                            <dd>
                                                <span class="pull-left">{{viewed_user_info.phone}}</span>
                                            </dd>
                                            {% endif %}
                                        </dl>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab-2">
                                    <div class="tab-body" style="padding-bottom: 0;">
                                        <h3 class="title title-lg">User Sales</h3>
                                        <p class="mb-20">Items this user is selling</p>
                                    
                                     {% for item in items %}
                                        {{item.name}}: {{item.price}}<br />
                                        <img src="{% url 'picture' item.id %}" alt="{{item.name}}" />
                                        <br /><br />
                                     {% endfor %}
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab-3">
                                    <div class="tab-body">
                                        <h3 class="title title-lg">User Ratings</h3>
                                        <p class="mb-20">What do others say about this user?</p>
                                        Ratings:<br />
                                        {{viewed_user_info.average_rating}} (from {{viewed_user_info.num_ratings}} users)<br /><br />
                                        
                                        Rate:<br />
                                        <a href="{% url 'rate' viewed_user_info.user.id 1 %}">1</a>&nbsp;
                                        <a href="{% url 'rate' viewed_user_info.user.id 2 %}">2</a>&nbsp;
                                        <a href="{% url 'rate' viewed_user_info.user.id 3 %}">3</a>&nbsp;
                                        <a href="{% url 'rate' viewed_user_info.user.id 4 %}">4</a>&nbsp;
                                        <a href="{% url 'rate' viewed_user_info.user.id 5 %}">5</a><br /><br />
                                        Comment:<br />
                                        {% for comment in user_comments %}
                                        {{comment.text}}<br />
                                        {% endfor %}
                                        <form action="/potluck/comment/{{viewed_user_info.user.id}}" method="post">
                                            {% csrf_token %}
                                        <textarea rows=2 cols=75 name="text"></textarea>
                                        <input type="submit" value="Submit" />
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %} 