<!-- sell.html -->

<form enctype="multipart/form-data" action="/potluck/sell/" method="post">
    {% csrf_token %}
    <tr><th><label for="id_name">Name:</label></th><td><input id="id_name" maxlength="255" name="name" type="text" /></td></tr><br />
<tr><th><label for="id_brand">Brand:</label></th><td><input id="id_brand" maxlength="255" name="brand" type="text" /></td></tr><br />
<tr><th><label for="id_quantity">Quantity:</label></th><td><input id="id_quantity" maxlength="255" name="quantity" type="text" /></td></tr><br />
<tr><th><label for="id_description">Description:</label></th><td><input id="id_description" maxlength="500" name="description" type="text" /></td></tr><br />
<tr><th><label for="id_price">Price:</label></th><td><input id="id_price" name="price" step="0.01" type="number" /></td></tr><br />
<tr><th><label for="id_purchase_date">Purchase date:</label></th><td><input id="id_purchase_date" name="purchase_date" type="text" /></td></tr><br />
<tr><th><label for="id_expiration_date">Expiration date:</label></th><td><input id="id_expiration_date" name="expiration_date" type="text" value="2015-04-08" /><br />
<input id="initial-id_expiration_date" name="initial-expiration_date" type="hidden" value="2015-04-08 04:12:14+00:00" /></td></tr><br />
<tr><th><label for="picture">Picture:</label></th><td><input id="picture" name="picture" type="file" /></td></tr>

    <input type="submit" value="Submit" />
</form>
<!--
For this we want:
- a form for the user to fill out information.

Likely to be passed in:
- user_info - UserInfo for the logged-in user
 -->