 {% extends "base.html" %}
<!-- sell.html -->

<!-- <form enctype="multipart/form-data" action="/potluck/sell/" method="post">
    {% csrf_token %}
    <tr><th><label for="id_name">Name:</label></th><td><input id="id_name" maxlength="255" name="name" type="text" /></td></tr><br />
<tr><th><label for="id_brand">Brand:</label></th><td><input id="id_brand" maxlength="255" name="brand" type="text" /></td></tr><br />
<tr><th><label for="id_quantity">Quantity:</label></th><td><input id="id_quantity" maxlength="255" name="quantity" type="text" /></td></tr><br />
<tr><th><label for="id_description">Description:</label></th><td><input id="id_description" maxlength="500" name="description" type="text" /></td></tr><br />
<tr><th><label for="id_price">Price:</label></th><td><input id="id_price" name="price" step="0.01" type="number" /></td></tr><br />
<tr><th><label for="id_purchase_date">Purchase date:</label></th><td><input id="id_purchase_date" name="purchase_date" type="text" /></td></tr><br />
<tr><th><label for="id_expiration_date">Expiration date:</label></th><td><input id="id_expiration_date" name="expiration_date" type="text" value="2015-04-08" /><br />
<input id="initial-id_expiration_date" name="initial-expiration_date" type="hidden" value="2015-04-08 04:12:14+00:00" /></td></tr><br />
<tr><th><label for="picture">Picture:</label></th><td><input id="picture" name="picture" type="file" /></td></tr>

    <input type="submit" value="Submit" />
</form> -->
<!--
For this we want:
- a form for the user to fill out information.

Likely to be passed in:
- user_info - UserInfo for the logged-in user
 -->

 <!-- buy.html -->
<!--
For this we want:
- list of items (maybe display categories with pictures?)
- if you've already searched something, show matching items on sale formatted in some way (e.g., picture, name, price, expiration date)
- when you click on a specific item, it should expand to show more information about that item (seller, seller rating, etc.)

Likely to be passed in:
- items (Python set of SaleItems - Google Python sets if you think you need to, but for loops + field references are probably all you need)
- user_info (mostly for user_info.avatar, user_info.user.username)
 -->

<!-- {% for item in items %}
 {{item.name}}: {{item.price}} {{item.id}} <a href="{% url 'profile' item.seller.id %}">{{item.seller.user.username}}</a><br />
 <img src="{% url 'picture' item.id %}" alt="{{item.name}}" width="200px" />
 <br /><br />
 {% endfor %} -->
 {% block content %}

    <link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="assets/sky-forms/css/sky-forms.css">   
    <!-- MAIN CONTENT -->
        <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Sell</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sell</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="slice slice-lg bg-image" style="background-image:url(/static/images/backgrounds/bg.jpg)">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3">                   
                        <div class="wp-block default user-form user-form-alpha no-margin">
                            <div class="form-header">
                                <h2>Sell your groceries</h2>
                            </div>
                            <div class="form-body">
                            <form enctype="multipart/form-data" action="/potluck/sell/" method="post">
                                {% csrf_token %}
                                    <fieldset class="no-padding">           
                                        <section class="">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label class="input">
                                                            Name of Produce *<br>
                                                            <input maxlength="255" name="name" type="text" placeholder="ex) Fresh Oranges" /><br />&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </label>
                                                    </div>               
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label class="input">
                                                            Brand <br>
                                                            <input maxlength="255" name="brand" type="text" placeholder="ex) Local Farmer's Market"><br />&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </label>
                                                    </div>               
                                                </div>
                                            </div>   
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="input">
                                                            Quantity *<br>
                                                            <input maxlength="255" name="quantity" type="text" placeholder="ex) 3" /><br />&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </label>
                                                    </div>               
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="input">
                                                            Description <br>
                                                            <textarea maxlength="500" name="description" type="text" placeholder="ex) Fresh oranges premium. Very sweet and tangy!"></textarea><br />&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </label>
                                                    </div>               
                                                </div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label class="input">
                                                            Price $ *<br>
                                                            <input name="price" step="0.01" type="number" placeholder="ex) 4.99" /><br />&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </label>
                                                    </div>               
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="input">
                                                            Purchase Date <br>
                                                            <input name="purchase_date" type="date" /><br />&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </label>
                                                    </div>               
                                                </div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="input">
                                                            Expiration Date *<br>
                                                            <input name="expiration_date" type="date"/><br />&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </label>
                                                    </div>               
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="input">
                                                            Image *<br>
                                                            <input id="picture" name="picture" type="file" /><br />&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </label>
                                                    </div>               
                                                </div>
                                            </div> 
                                            <div class="row">
                                                    <p class="pull-left"> *Required fields </p>
                                                    <button type="submit" value="Submit" class="btn btn-alt btn-icon btn-icon-right btn-icon-go pull-right" type="submit">
                                                        <span>Sell Now</span>
                                                    </button>
                                            </div>
                                        </section>
                                    </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
